/* Start Global Rules*/
:root {
  --main-color: #19c8fa;
  --secondary-color: rgb(15 116 143 /70%);
  --third-color: #777;
  --bc: #ddd;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules*/
/*general*/
.general {
  padding: 0 20px;
  text-align: center;
  margin-top: 60px;
}
.general h2 {
  position: relative;
  font-size: 40px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: normal;
}
.general h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 100px;
  background-color: #333;
  bottom: -29px;
}
.general h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 12px;
  width: 12px;
  background-color: white;
  border: 3px solid #333;
  border-radius: 50%;
  bottom: -36px;
}
.general p {
  color: var(--third-color);
  line-height: 1.4;
  margin-bottom: 50px;
  font-weight: bold;
  text-transform: capitalize;
}
/*end general*/
/*nav*/
header {
  position: absolute;
  width: 100%;
  z-index: 3;
  left: 0;
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container ::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2a2;
  width: calc(100% - 30px);
  bottom: 0;
  left: 15px;
}
header .container .logo {
  text-decoration: none;
  color: var(--main-color);
  font-size: 20px;
  letter-spacing: 4px;
}
header .container .logo::first-letter {
  color: #e41718;
  font-size: 32px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  header {
    padding: 10px;
  }
  header nav ul {
    display: none !important;
    background-color: rgba(51, 51, 51, 0.486);
  }
  header .container ::after {
    height: 0px !important;
  }
  .bu-down {
    display: flex !important;
    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100% !important;
  }

  header nav ul li a {
    padding: 15px !important;
  }
  header nav ul li:not(:last-of-type) {
    border-bottom: 2px solid rgb(32, 32, 32);
  }
}
header nav ul {
  display: flex;
}
header nav ul li a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
  display: block;
  font-size: 20px;
  transition: 0.3s;
  text-transform: capitalize;
  user-select: none;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
}
/*end nav*/
/*Up*/
.up {
  background-color: var(--main-color);
  width: fit-content;
  padding: 6px;
  border-radius: 50%;
  position: fixed;
  right: -30px;
  bottom: 10px;
  cursor: pointer;
  transition: 0.8s;
  opacity: 0.5;
  z-index: 5;
  color: white;
}
.up:hover {
  opacity: 1;
  animation-play-state: paused;
}

.up.show {
  right: 21px;
}
@media (max-width: 767px) {
  .up {
    display: none;
  }
}

/*End Up*/

/*landing*/
.landing {
  min-height: 100vh;
  background-image: url("../image/IMG_20210428_234508425.jpg");
  position: relative;
  background-size: cover;
}
.landing .op {
  position: absolute;
  background-color: rgb(0, 0, 0, 50%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.landing .text {
  left: 0;
  position: absolute;
  width: 50%;
  background-color: var(--secondary-color);
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
  display: flex;
  justify-content: flex-end;
}
.landing .text .cont-text {
  width: 500px;
}
.landing .text .cont-text p {
  line-height: 1.5;
  color: rgb(37, 35, 35);
  font-size: 15px;
  text-transform: capitalize;
}
.landing .text .cont-text h2 {
  text-transform: capitalize;
  font-size: 30px;
}

@media (max-width: 767px) {
  .landing {
    background-position: center;
  }
  .landing .text {
    width: 100%;
  }
  .landing .text .cont-text {
    width: 100%;
  }
}
/*end landing*/
/*services*/
.services {
  background-color: var(--bc);
  padding: 20px;
}
.services .services-con .box {
  display: flex;
}
.services .services-con .box:not(:last-of-type) i {
  font-size: 40px;
}
.services .box i {
  margin-right: 50px;
  color: var(--main-color);
}
.services .box h3 {
  color: var(--main-color);
  margin: 0 0 10px;
  text-transform: uppercase;
}
.services .box p {
  color: var(--secondary-color);
  margin: 0;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .services .services-con .box {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .services-con .box i {
    margin: 0 0 30px;
  }
}
@media (min-width: 768px) {
  .services .services-con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 60px;
  }
}
@media (min-width: 1200px) {
  .services .services-con {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
/*end services*/
/*project*/
.project {
  padding-top: 20px;
}
.project .image {
  display: flex;
  flex-wrap: wrap;
}

.project .image .box-image {
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .project .image .box-image {
    width: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .project .image .box-image {
    width: 33.3333%;
  }
  .project .image .box-image:last-of-type,
  .project .image .box-image:nth-last-child(2) {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .project .image .box-image {
    width: 25%;
  }
}
.project .image .box-image img {
  width: 100%;
  height: 100%;
  transition: 1s;
}
.project .image .box-image:hover img {
  transform: rotate(3deg) scale(1.1);
}
.project .image .box-image .text {
  position: absolute;
  left: 0;
  transition: 0.8s;
  bottom: -100%;
  padding: 20px;
  background-color: white;
  width: 75%;
}
.project .image .box-image:hover .text {
  bottom: 0;
}
.project .image .box-image .text h4 {
  margin: 0px;
  text-transform: uppercase;
  color: var(--main-color);
}
.project .image .box-image .text p {
  margin-bottom: 0%;
  line-height: 1.4;
  color: var(--third-color);
}
/*end project*/
/*video*/
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.541);
}
.video video {
  width: 100%;
}
.video .text {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
  background: var(--secondary-color);
}
.video .text h2 {
  color: var(--main-color);
  font-size: 30px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .video .text h2 {
    font-size: 23px;
  }
}
.video .text p {
  color: var(--third-color);
  text-transform: capitalize;
  font-size: 15px;
}
.video .text button {
  padding: 10px 15px;
  background-color: black;

  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
.video .text button a {
  color: white;
  text-decoration: none;
}

/*end video*/
/*progres*/
.progres {
  background-color: var(--bc);
  padding: 20px;
}
.progres .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.progres .box {
  width: 49%;
  text-align: center;
}
@media (max-width: 767px) {
  .progres .box {
    width: 100%;
    margin-bottom: 6px;
    text-align: center;
  }
}
.progres .box .pro {
  background-color: var(--third-color);
  height: 20px;
}
.progres .box .pro span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
}
.progres .box .pro span::before {
  content: attr(data-progres);
  position: absolute;
  top: -36px;
  right: -20px;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 6px;
}

.progres .box .pro span::after {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: black transparent transparent transparent;
  right: -11px;
  top: -10px;
}
.progres .box h3 {
  color: var(--main-color);
  text-transform: uppercase;
}

/*end progres */
/*subscribe */
.subscribe {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../image/How_to_learn_coding_from_scratch_-_Copyright_WTTJ.jpg);
  background-size: cover;
  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.541);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
  .subscribe .container p {
    text-align: center;
    padding: 0 !important ;
  }
}
.subscribe form {
  display: flex;
  width: 550px;
  max-width: 100%;
  position: relative;
}
.subscribe form i {
  position: absolute;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}
.subscribe form input[type="email"] {
  color: white;
  width: calc(100% - 100px);
  padding: 20px 20px 20px 50px;
  background: none;
  border: 2px solid white;
  border-right: none;
  caret-color: var(--main-color);
}
.subscribe form input[type="email"]::placeholder {
  color: var(--main-color);
}
.subscribe form input[type="submit"] {
  width: 100px;
  border: 2px solid white;
  border-left: none;
  text-transform: uppercase;
  background-color: var(--main-color);
  cursor: pointer;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe p {
  margin-left: 50px;
  line-height: 1.5;
  color: #eee;
}
@media (max-width: 991px) {
  .subscribe .container p {
    text-align: center;
    margin: 30px 0 0 !important ;
  }
}
/*end subscribe */
/*  comment  */

.comment {
  padding: 20px 0px 40px;
  background-color: var(--bc);
}
.comment .msg {
  background-color: var(--main-color);
  padding: 10px;
  border: ridge 2px var(--bc);
  float: left;
  border-radius: 10px;
  font-family: cursive;
}

.comment .msg:first-of-type {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
}
.comment .msg:not(:first-of-type) {
  width: 49%;
}
.comment .msg:last-of-type {
  margin-left: 2%;
}

.comment h2 {
  font-size: 35px;
}
.comment .msg h3 {
  float: left;
  line-height: 2;
  margin: 0;
}
.comment .msg .img {
  float: left;
  width: 100px;
  margin: 10px 10px 0 0;
}
.comment .msg .img img {
  padding: 3px;
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
}
.comment .msg p {
  width: calc(100% - 120px);
  float: left;
  margin: 0px;
  line-height: 1.8;
  color: var(--third-color);
}

@media (max-width: 767px) {
  .comment .msg {
    width: 97% !important;
    margin: 0px 3% 6px 0 !important;
  }
  .comment h2 {
    font-size: 30px;
  }

  .comment .msg .img {
    float: none;
    margin: auto;
  }

  .comment .msg h3 {
    float: none;
    text-align: center;
  }

  .comment .msg p {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .comment .msg:first-of-type {
    margin-left: 0;
    width: 100%;
  }
  .comment .msg:not(:first-of-type) .img {
    float: none;
    margin: auto;
  }

  .comment .msg:not(:first-of-type) h3 {
    float: none;
    text-align: center;
  }

  .comment .msg:not(:first-of-type) p {
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .comment .msg:first-of-type {
    margin-left: 10%;
    width: 80%;
  }
}

.animation {
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
}
.animation span {
  margin-right: 4px;
  font-size: 15px;
  font-family: cursive;
  color: var(--secondary-color);
}
.animation div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin: 0px 2px;
  animation-name: up_down;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.animation .tow {
  animation-delay: 0.3s;
}

.animation .three {
  animation-delay: 0.6s;
}

@keyframes up_down {
  to {
    opacity: 0.2;
    transform: translateY(4px);
  }
}
/*  end comment  */

/*login*/
.login {
  background-color: var(--bc);
  padding-top: 40px;
  padding-bottom: 40px;
}
.login .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .container .box form {
  flex-basis: 60%;
}
.login .container .box form .inp {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.login .container .box form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  text-transform: uppercase;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}
.login .container .box form .inp:focus {
  outline: none;
}
.login .container .box form .inp::placeholder {
  text-transform: uppercase;
  color: var(--main-color);
}
@media (max-width: 767px) {
  .login .box {
    flex-direction: column;
  }
  .login .container .box form {
    width: 100%;
  }
}
.login .container .box .text {
  flex-basis: 35%;
  color: var(--third-color);
  line-height: 1.8;
  font-size: 25px;
  font-family: serif;
  font-weight: bold;
  font-variant: small-caps;
}

/*    drop_ul   */

.drop_ul {
  background-color: #333;
  padding: 20px 0;
}

.drop_ul h1 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-family: cursive;
}
.drop_ul .ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.drop_ul .ul li {
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  font-size: 22px;
  padding: 15px;
  cursor: pointer;
  user-select: none;
  font-family: cursive;
}
.drop_ul .ul li:hover {
  background-color: #fff;
  color: var(--main-color);
}
.drop_ul .ul li.selected {
  background-color: #fff;
  color: #05d5d5;
}
.drop_ul .drop-contain > div {
  padding: 20px;
  background-color: #fff;
  line-height: 2;
  font-family: cursive;
  color: var(--third-color);
}
.drop_ul .drop-contain > div:not(:first-of-type) {
  display: none;
}

@media (max-width: 767px) {
  .drop_ul .ul li {
    display: block;
  }
}
/*  end drop_ul  */
/*source*/
.source {
  padding: 20px;
  background-color: var(--bc);
}
.source .box {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .source .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .source .box {
    width: 23%;
    margin-bottom: 0;
  }
}
.source .box {
  padding: 20px 3px;
  border: 2px solid;
  text-align: center;
  background-color: #333;
}
.source .box i {
  color: white;
  font-size: 20px;
}
.source .box h2 {
  text-transform: uppercase;
  color: var(--main-color);
}
.source .box p {
  color: var(--third-color);
}
.source .box button {
  padding: 10px 20px;
  background-color: var(--main-color);
  opacity: 0.8;
}
.source .box button:hover {
  opacity: 1;
}
.source .box a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* footer*/
footer {
  background-color: #333;
  padding: 20px;
  color: var(--main-color);
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}
footer .link {
  text-align: center;
}
footer .link a {
  text-decoration: none;
  color: var(--main-color);
  margin-right: 12px;
}
footer .link i {
  font-size: 25px;
}
/*end footer*/
/*end source*/
.clear {
  clear: both;
}
/*end login*/
