<%- include('header') %>

<div class="home">
    <div class="cont">
    <div class="box">
        <h1>welcome</h1>
            <p>You can log in if you have an account or create a new account</p>
            <a href="/signin">signin</a>
            <a href="/login">login</a>
        </div>
    </div>
</div>
<%- include('footer') %>
